.main-group-listing {
    border-bottom: 1px solid lightgray;
    display: flex;
    height: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
}

.main-group-listing:hover {
    box-shadow: 0px 0px 10px lightgray;
}

.listing-image {
    display: flex;
    align-items: center;
    top: 10px;
    height: 125px;
    width: 160px;
    justify-content: center;
    padding: 2%;
}

.img {
    display: flex;
    flex-direction: column;
    top: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.group-details {
    width: 80%;
}

.link-to-group {
    text-decoration: none;
    color: black
}

.group-name {
    display: flex;
    font-weight: bold;
    height: 24px;
}

.group-location {
    border-bottom: 1px solid lightgray;
    width: 60%;
    font-size: small;
}

.group-title {
    font-weight: bold;
    font-size: small;
    padding-top: 1%;
    padding-bottom: 1%;
}

.about-text {
    font-size: small;
    padding-bottom: 5%;
}

.numMembers {
    font-weight: bold;
    font-size: small;
}

.private {
    font-size: small;
}
